#root {
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ----- Contacto ----- */
#contact-form label{
  display: block;
  margin-bottom: 5px;
  color: #a78bfa;
  font-weight: bold;
  text-align: left;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#contact-form textarea {
  height: 100px;
}




/* Estilos personalizados para Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #a78bfa !important; /* violet-400 */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #8b5cf6 !important; /* violet-500 */
}

.swiper-pagination-bullet {
  background: #6b21a8 !important; /* violet-800 */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #a78bfa !important; /* violet-400 */
  opacity: 1;
}
